{% extends 'base.html.twig' %}

{% block title %} - Créé un compte{% endblock %}

{% block body %}
  <section class="form">
    <h2>Inscription</h2>
    {{ form_start(form) }}
      {{ form_row(form.pseudo) }}
      {{ form_row(form.password) }}
      <button type="submit" class="bouton">Créer</button>
    {{ form_end(form) }}
  </section>
{% endblock %}