{% extends 'base.html.twig' %}

{% block title %}- brouillons{% endblock %}

{% block body %}
<a href="{{ path('new') }}">créé un message</a>
<a href="{{ path('draftList') }}">Brouillons</a>
{% for message in messages %}
<a href="{{ path('edit', {'id': message.id}) }}">{{message.subjet}}</a>

{% endfor %}
{% endblock %}