{% extends 'base.html.twig' %}

{% block title %}- liste{% endblock %}

{% block body %}
<a href="{{ path('new') }}">créé un message</a>
<a href="{{ path('draftList') }}">Brouillons</a>
{% for message in messages %}
<h3>{{message.subjet}}</h3>
{% endfor %}
{% endblock %}
