<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>SchoolMessager{% block title %}{% endblock %}</title>
        <link rel="icon" href="">
    </head>
    <body>
        <header>
            <h1>SchoolMessager</h1>
            <ul class="menu">
				{% if app.user %}
					<a href="{{ path('logout') }}">Déconnection</a>
				{% endif %}
			</ul>
        </header>

        {% block body %}{% endblock %}
    	{% for flash in app.flashes('flash') %}
		<div class="flash">
		{{ flash }}
		</div>
		{% endfor %}
    </body>
</html>
